@font-face {
    font-family: 'Lab Grotesque';
    src: local('Lab Grotesque Regular'), local('Lab-Grotesque-Regular'), url('~@/assets/fonts/LabGrotesque/Regular/LabGrotesque-Regular.woff2') format('woff2'), url('~@/assets/fonts/LabGrotesque/Regular/LabGrotesque-Regular.woff') format('woff'), url('~@/assets/fonts/LabGrotesque/Regular/LabGrotesque-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}