@font-face {
    font-family: 'Lab Grotesque';
    src: local('Lab Grotesque Light'), local('Lab-Grotesque-Light'), url('~@/assets/fonts/LabGrotesque/Light/LabGrotesque-Light.woff2') format('woff2'), url('~@/assets/fonts/LabGrotesque/Light/LabGrotesque-Light.woff') format('woff'), url('~@/assets/fonts/LabGrotesque/Light/LabGrotesque-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Lab Grotesque";
    src: local("Lab Grotesque Regular"), local("Lab-Grotesque-Regular"), url("~@/assets/fonts/LabGrotesque/Regular/LabGrotesque-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: local('Lab Grotesque Medium'), local('Lab-Grotesque-Medium'), url('~@/assets/fonts/LabGrotesque/Medium/LabGrotesque-Medium.woff2') format('woff2'), url('~@/assets/fonts/LabGrotesque/Medium/LabGrotesque-Medium.woff') format('woff'), url('~@/assets/fonts/LabGrotesque/Medium/LabGrotesque-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}